In [1]:
import pandas as pd
import datetime as dt
import math as mt
import sklearn as skl
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
file_x_train = './data/X_train.csv'
file_y_train = './data/y_train.csv'
file_x_test = './data/X_test.csv'

In [3]:
X_train_data = pd.read_csv(file_x_train, sep=',')
Y_train_data = pd.read_csv(file_y_train, sep=',')
X_test_data = pd.read_csv(file_x_test, sep=',')

In [20]:
X_train_data.head()

,time_step,consumption,visibility,temperature,humidity,humidex,windchill,wind,pressure
0,2013-03-17T00:02:00.0,548.6000,35.0,8.9,86.0,8.9,6.0,19.0,1017.3
1,2013-03-17T00:03:00.0,549.3000,35.0,8.9,86.0,8.9,6.0,19.0,1017.3
2,2013-03-17T00:04:00.0,549.3667,35.0,8.9,86.0,8.9,6.0,19.0,1017.3
3,2013-03-17T00:05:00.0,548.8909,35.0,8.9,86.0,8.9,6.0,19.0,1017.3
4,2013-03-17T00:06:00.0,549.6333,35.0,8.9,86.0,8.9,6.0,19.0,1017.3

In [6]:
Y_train_data.head()

               time_step  washing_machine  fridge_freezer   TV  kettle
0  2013-03-17T00:01:00.0              0.0         79.2000  7.0     0.0
1  2013-03-17T00:02:00.0              0.0         78.0000  7.0     0.0
2  2013-03-17T00:03:00.0              0.0         76.9000  7.0     0.0
3  2013-03-17T00:04:00.0              0.0         76.1111  7.0     0.0
4  2013-03-17T00:05:00.0              0.0         75.2727  7.0     0.0

In [16]:
print("taux de valeur manquantes (pour X_train_data):\n")
print(X_train_data.isna().sum()/X_train_data.shape[0])
print("\n--------------------------------------")
print("taux de valeur manquantes (pour Y_train_data):\n")
print(Y_train_data.isna().sum()/Y_train_data.shape[0])

taux de valeur manquantes (pour X):

time_step      0.000000
consumption    0.024500
visibility     0.983391
temperature    0.983364
humidity       0.983391
humidex        0.983391
windchill      0.983410
wind           0.983391
pressure       0.983400
Unnamed: 9     0.999998
dtype: float64

--------------------------------------
taux de valeur manquantes (pour X):

time_step          0.0000
washing_machine    0.0245
fridge_freezer     0.0245
TV                 0.0245
kettle             0.0245
dtype: float64

In [17]:
%run "./preprocessing.ipynb"

In [18]:
print("taux de valeur manquantes (pour X):\n")
print(X.isna().sum()/X.shape[0])
print("\n--------------------------------------")
print("taux de valeur manquantes (pour Y):\n")
print(Y.isna().sum()/Y.shape[0])

taux de valeur manquantes (pour X):

time_step      0.0
consumption    0.0
temperature    0.0
dtype: float64

--------------------------------------
taux de valeur manquantes (pour Y):

washing_machine    0.0
fridge_freezer     0.0
TV                 0.0
kettle             0.0
dtype: float64